/*
Lauren Carroll
Teal- #65CAB7
Light Green- #ABF4AC
Light Blue- #ABF4F1
*/

@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

header{
  background-color:#dddddd;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding:25 px;
}

a {
  color: #65CAB7;
}

body {
  font-family: Perpetua;
  background-image: url('../images/swirl_pattern.png');
}

.main {
  width:66%;
  float:left;
  border-style:solid;
  border-width:5px;
  border-radius:25px;
  background-color:white;
  margin:1%;
  padding:3%;
}
.sidebar{
  width:30%;
  margin:1%;
  float:right;
  border-style:solid;
  border-width:5px;
  border-radius:25px;
  background-color:white;
  padding:3%;
}

h1 {
  color: #65CAB7;
  font-family: 'Rock Salt', cursive;
}
.colorwrapper {
  background-color:#dddddd;
}

.colorsquare {
  width: 150px;
  height: 150px;
  display:inline-block;
}
.color1{
  background-color: #65CAB7;
  margin:2%;
}
.color2{
  background-color: #ABF4AC;
  margin:2%;
}
.color3{
  background-color: #ABF4F1;
  margin:2%;
}

.site-footer a{
font-size: 1em;
color: black;
}
.site-footer a:hover{
color:lightgray ;
}

.clearfix:before,
.clearfix:after {
  content:" ";
  display: table;
}

.clearfix: after {
  clear:both;
}
footer {
  border-style:solid;
  border-width:5px;
  border-radius:25px;
  background-color:white;
  padding:1%;
  text-align:center;
  margin:2%;

}
ul{
  list-style-type:none;

}
li{
  padding:2%;
}
p{
  font-size:15px;}
