/*
Lauren Carroll
Teal- #65CAB7
Light Green- #ABF4AC
Light Blue- #ABF4F1
*/

header{
  background-color:#dddddd;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding:25 px;
}

a {
  color: #65CAB7;
}

h1 {
  color: #65CAB7;
}

.color1,.color2,.color3 {
  width: 200px;
  height: 200px;
}
.color1{
  background-color: #65CAB7;
}
.color2{
  background-color: #ABF4AC;
}
.color3{
  background-color: #ABF4F1;
}

  
  